<launch>

  <arg name="mav_name" default="raven"/>
  <arg name="camera_frame" default="$(arg mav_name)/camera_link" />
  <arg name="enable_logging" default="true"/>
  <arg name="log_file" default="$(arg mav_name)"/>

  <group ns="$(arg mav_name)">

    <!-- Load parameters -->
    <rosparam file="$(find tmplanner_continuous)/parameters/tmplanner_raven.yaml"/>
    <rosparam file="$(find tmplanner_continuous)/parameters/camera_calib_raven.yaml"/>
    <rosparam file="$(find tmplanner_continuous)/parameters/transform_world_map.yaml"/>

    <!-- Start the informative path planner -->
    <node name="mapping_node" pkg="tmplanner_continuous" type="tmplanner_continuous_mapping_node">
      <!-- Simulation -->
      <remap from="image" to="color/color" />
      <remap from="odometry" to="dji_sdk/odometry" />
    </node>

    <node name="trajectory_sampler" pkg="mav_trajectory_generation_ros" type="trajectory_sampler_node" output="screen" />

  </group>

</launch>