<launch>

  <arg name="mav_name" default="firefly"/>
  <arg name="camera_frame" default="$(arg mav_name)/camera_link" />
  <arg name="enable_logging" default="true"/>
  <arg name="log_file" default="$(arg mav_name)"/>

  <group ns="$(arg mav_name)">

    <!-- Load parameters -->
    <rosparam file="$(find tmplanner_continuous)/parameters/tmplanner.yaml"/>
    <rosparam file="$(find tmplanner_continuous)/parameters/camera_calib.yaml"/>
    <rosparam file="$(find tmplanner_continuous)/parameters/transform_world_map.yaml"/>

    <!-- Start the informative path planner -->
    <node name="tmplanner_node" pkg="tmplanner_continuous" type="tmplanner_node">
      <!-- Simulation -->
      <remap from="image" to="camera/camera_sim/image_raw" />
      <remap from="odometry" to="ground_truth/odometry" />
    </node>
    <node name="trajectory_sampler" pkg="mav_trajectory_generation_ros" type="trajectory_sampler_node" output="screen" />

  </group>

</launch>